// Colors from https://www.nordtheme.com/docs/colors-and-palettes

// Night Owl
@background: #001628;
@foreground: #d4deec;
@linenumber: #45647b;
@keyword: #ba7fd9;
@def: #75a4ff;
@string: #f3c384;
@highlightrow: #001220;
@comment: #5d7776;
@variable: #9fde52;
@property: #9fde52;
@formattinglink: #ffd400;
@formattinglinkstring: #d65ccc;
@link: #d4deec;
@cmurl: #ff7d99;
@cmoperator: #d18cf0;
@selected: #2e2a60;
@focusedselected: #123b55;
@search: #003e5f;
@inlinecode: #9fde52;
@fold: #8b9298;
@folddarker: #788086;
@cursor: #80a4c2;
//

// Polar Night
@base00: #2e3440; // black
@base01: #3b4252; // dark grey
@base02: #434c5e;
@base03: #4c566a; // grey

// Snow Storm
@base04: #d8dee9; // grey
@base05: #e5e9f0; // off white
@base06: #eceff4; // white

// Frost
@base07: #8fbcbb; // moss green
@base08: #88c0d0; // ice blue
@base09: #81a1c1; // water blue
@base0A: #77b0ff; // nowl

@base0B: #9fde52; // nowl
@base0C: #77b0ff; // nowl
@base0D: #ebcb8b;
@base0E: #a3be8c;
@base0F: #686f9b; // nowl
