// All colors
@background: #001628;
@foreground: #d4deec;
@darkest: #001220;
@green: #9fde52;
@blue-light-1: #77b0ff;
@blue-light-2: #75a4ff;
@turqoise: #5bdeca;
@turqoise-dark: #5d7776;
@red: #e43035;
@violet: #d18cf0;
@yellow: #ffd400;
@yellow-light-1: #f3c384;
@purple-dark-1: #2e2a60;
@purple-light-1: #ba7fd9;
@crimson: #ff7d99;
@orange: #ff8663;
@blue-dark-1: #15354b;
@blue-dark-2: #123b55;
@blue-dark-3: #003e5f;
@blue-gray-1: #45647b;
@blue-gray-2: #1f3745;
@blue-gray-3: #686f9b;
@blue-gray-4: #80a4c2;
@gray-light: #d4deec;
@gray-dark-1: #8b9298;
@gray-dark-2: #788086;
@gray-dark-3: #888888;
@magenta: #d65ccc;
// Per "feature"
@variable: @green;
@property: @green;
@inlinecode: @green;
@cmtag: @green;
@cmattribute: @green;
@cmmeta: @green;
@bold: @green;
@cmheader: @blue-light-1;
@def: @blue-light-2;
@cmplus: @blue-light-2;
@linenumber: @blue-gray-1;
@cmwhitespace: @blue-gray-2;
@cmcarriagereturn: @blue-gray-2;
@cmquote: @blue-gray-3;
@cursor: @blue-gray-4;
@search: @blue-dark-3;
@focusedselected: @blue-dark-2;
@matchingbracketbg: @blue-dark-1;
@cmbracket: @turqoise;
@cmqualifier: @turqoise;
@comment: @turqoise-dark;
@cmerror: @red;
@cmminus: @red;
@cmtable: @foreground;
@cmoperator: @violet;
@italic: @violet;
@formattinglink: @yellow;
@cmurl: @crimson;
@selected: @purple-dark-1;
@keyword: @purple-light-1;
@highlightrow: @darkest;
@link: @gray-light;
@fold: @gray-dark-1;
@folddarker: @gray-dark-2;
@matchingbracketborder: @gray-dark-3;
@cmnumber: @orange;
@string: @yellow-light-1;
@formattinglinkstring: #d65ccc;

