@import './colors';

.editor {
  .CodeMirror {
    // Background color of main window
    background-color: @background;
    color: @foreground;
  }
  .CodeMirror-scroll {
    // Color of otherwise un-styled text
    color: @foreground;
  }
  .CodeMirror-gutters {
    // Gutter to the left
    background-color: @background;
    border-right: 1px solid @darkest;
  }
  .CodeMirror-linenumber {
    // Line numbers in the gutter
    color: @blue-gray-1;
    opacity: 0.6;
  }
  .CodeMirror-selected {
    // Highlighed text
    background-color: @purple-dark-1;
  }
  .CodeMirror-focused .CodeMirror-selected {
    // Highlighed text
    background-color: @blue-dark-2;
  }
  .CodeMirror-cursor {
    // The cursor
    border-left: 1px solid @blue-gray-4;
    border-right: 1px solid @blue-gray-4;
  }
  .CodeMirror-matchingbracket,
  .CodeMirror-matchingtag {
    // When you click a tag/bracket and the matching one is highlighted
    background: @blue-dark-1 !important;
    border: 1px solid @gray-dark-3 !important;
    color: @foreground !important;
  }
  .CodeMirror-foldgutter-open:after {
    // Those little arrows in the gutter
    color: @gray-dark-1;
  }
  .CodeMirror-foldgutter-folded:after {
    // The arrows after you collapse code
    color: @gray-dark-1;
  }
  .CodeMirror.over-gutter,
  .CodeMirror-activeline {
    .CodeMirror-foldgutter-open:after {
      // Arrows when hovering on the gutter
      color: @gray-dark-1;
    }
  }
  .CodeMirror-foldmarker {
    // The [...] marking collapsed code
    border-color: @gray-dark-1;
    background-color: @gray-dark-1;
    color: @gray-dark-2;
  }
  .CodeMirror .CodeMirror-linewidget img.inline-widget {
    background: rgba(0, 0, 0, 0.05);
  }
  .CodeMirror-searching {
    // Ctrl + F results
    background-color: @blue-dark-3;
    // Selected result
    &.searching-current-match {
      background-color: @blue-dark-3;
    }
  }

  .CodeMirror {
    .cm-atom,
    .cm-formatting-list.cm-variable-3 {
      color: @foreground;
    }
    .cm-keyword {
      color: @purple-light-1;
    }
    .cm-formatting-list.cm-variable-2 {
      color: @foreground;
    }
    .list-line .cm-variable-2 {
      color: @foreground;
    }
    .list-line .cm-keyword {
      color: @foreground;
    }
    .cm-url,
    .cm-string,
    .cm-string-2,
    .cm-hr {
      color: @yellow-light-1;
    }
    .cm-url {
      color: @crimson;
    }
    .cm-number {
      color: @orange;
    }
    .cm-attribute {
      color: @green;
    }
    .cm-plus {
      color: @blue-light-2;
    }
    .cm-def {
      color: @blue-light-2;
    }
    .cm-property {
      color: @green;
    }
    .cm-variable {
      color: @green;
    }
    .cm-variable-2 {
      color: @foreground;
    }
    .cm-operator {
      color: @violet;
    }
    .cm-meta {
      color: @green;
    }
    .cm-bracket {
      color: @turqoise;
    }
    .cm-comment {
      color: @turqoise-dark;
      font-style: italic;
    }
    .cm-error {
      color: @red;
    }
    .cm-minus {
      color: @red;
    }
    .cm-formatting-header {
      opacity: 0.3;
    }
    .cm-header {
      color: @blue-light-1;
    }
    .cm-link {
      color: @gray-light;
      text-underline-position: under;
    }
    .cm-rangeinfo {
      color: @foreground;
    }
    .cm-qualifier,
    .cm-builtin {
      color: @turqoise;
    }
    .cm-tag {
      color: @green;
    }
    .cm-tag.cm-bracket {
      color: @turqoise;
    }
    .cm-quote {
      color: @blue-gray-3;
      font-style: italic;
    }
    .cm-whitespace::before {
      color: @blue-gray-2;
      opacity: 0.4;
    }
    .cm-formatting-quote,
    .cm-formatting-strong,
    .cm-formatting-em {
      opacity: 0.6;
    }
    .cm-formatting-link {
      color: @yellow;
    }
    .cm-formatting-link-string {
      color: @magenta;
    }
    .cm-strong {
      color: @green;
    }
    .cm-em {
      color: @violet;
    }
    .cm-searching {
      background-color: @blue-dark-3;
    }

    // carriage return
    .CodeMirror-code > div > pre > span::after,
    .CodeMirror-line > span::after {
      color: @blue-gray-2;
    }

    .cm-inline-code {
      background: @darkest;
      color: @green;
    }

    .gfm-codeblock-bg.CodeMirror-linebackground {
      background: @darkest;
    }
    .gfm-codeblock.CodeMirror-line .cm-variable-2 {
      color: @green;
    }

    .cm-table-sep,
    .table-row.table-row-1 {
      color: @foreground;
    }
  }

  /* Active Line Highlight support */
  .CodeMirror-activeline-background,
  .CodeMirror-activeline-gutter {
    background-color: @darkest !important;
  }
}
